.body{
    margin: 0px;
    padding:0px;
    overflow: hidden;
}
.terms-and-condition-page {
    background-color:orange;
}
.pop-up-box-align {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
}
.terms-and-conditions {
    height: 300px;
    width: 500px;
    background-color: wheat;
    border-radius: 12px;
    border: 2px solid brown;
}